node_modules
npm-debug.log

.env
debug
release
Debug
Release
/src/images
/MangaSurvWebApi/src/MangaSurvWebApi/out
/MangaSurvWebApi/.vs/MangaSurvWebApi/v15/Server/sqlite3
/MangaSurvWebApi/.vs/MangaSurvWebApi/v15/sqlite3/db.lock
